.blogList {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 40px auto;
  max-width: 800px;
  padding: 0 1rem;
}

.blogItem {
  list-style: none;
  border: 1px solid #ccc;
  padding: 1rem;

}

.blogLink {
  color: #333;
  text-decoration: none;
}

.blogMeta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blogDate {
  color: #888;
  font-size: .8rem;
}

.blogCategories {
  display: flex;
  gap: 10px;
}

.blogCategory {
  border: 1px solid #06c;
  border-radius: .2rem;
  color: #06c;
  font-size: .8rem;
  padding: .2rem .4rem;
  list-style: none;
}

.blogTitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: .5rem;
}

.blogExcerpt {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  font-size: 1rem;
  line-height: 1.5;
}